
	body{ /*Fixar backgrund färgen till vit*/
		background-color: white;
		margin;0px;
	}
	
    .wrapper, .UnderMeny2 ul, header nav ul { /*formar till min huvudmeny till att vara i tre jämna kolummer*/ 
		padding: 0px; 
		list-style-type: none; 
		display: grid;
		grid-template-columns: 1fr 1fr 1fr; 
		grid-gap: 15px; 
		text-align: center;
	}
	
	.wrapper2, .UnderMeny ul { /*Formaterar min första under meny i två sektioner*/
		padding: 0px; 
		list-style-type: none; 
		display: grid;
		grid-template-columns: 1fr 1fr; 
		grid-gap: 15px; 
		text-align: center;
	}
	
	.wrapper3 { /*samma som den övre men ytterligare en sektion*/
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr; 
		grid-template-areas: 
		"header header header header" 
		"nav nav nav nav" 
		". ." 
		"main main main main"; 
		grid-gap: 15px; 
		grid-template-rows: auto auto auto auto; 
	}
	
	.foto{ /*Detta är en border till mina foton*/
		display:block;
		margin-left: auto;
		margin-right: auto;/*Centrerar*/
		width: 95%;
		height: 550px;
		border-style: solid;/*solid border*/
		border-width:5px;/* bredd på border*/
		border-color: red;/*färg på border*/
		border-radius: 25px;/*rundade kanter på bordern*/
    }
	
	.border{ /*Detta är en border till mina text rutor*/
		display:block;
		margin-left: auto;
		margin-right: auto;/*Centrerar*/
		width: 95%;
		border-style: solid;/*solid border*/
		border-width:5px;/* bredd på border*/
		border-color: red;/*färg på border*/
		border-radius: 25px;/*rundade kanter på bordern*/
		font-size:2em;
		color:red;
		text-align:center;
		padding:5px;
    }	
	
	#musik p, h2 { /*Den ändrar en standard till alla p taggar oavsett klass*/
		font-family: Times New Roman;/* text typ curier*/
		padding:15px;/* text strolek */
		text-align: center;/* centrerad tex*/
		color: red;
	}
	
	nav li a:hover:not(.active) { /*Typselektor för a inuti li inuti nav som inte har active klassselektorn, gör att sidan man håller musen över blir fyld röd med vit text om du inte redan är på den sidan*/
		background-color: red;
		border: 5px solid red; /*5px bred röd border som är hel*/
		border-radius: 25px; /*Rundar bordern med 25px*/
		color: white;
		text-decoration:none;
    }

	.active { /*Klassselktor active , gör att den nuvarande sidan i navbaren blir fylld röd*/
		background-color: red;
		color: white;
		border: 5px solid red;
		border-radius: 25px;
		text-decoration:none;
	}

    header { /*Typselektor för header*/
		grid-area: header; /*Namn på grid-arean för headern*/
		background-color: white;
	}

	header nav { /*Typselektor för nav i header*/
		display: grid; /*Gör ett grid i headern*/
		grid-area: nav;
	}

    nav li{ /*Typselektor för li i nav*/
		display: grid;
	}

    nav a { /*Typselektor för a innuti nav*/
		text-align: center;
		font-weight: bold; /*Gör texten till bold*/
		text-decoration: none; /*Tar bort understruket under länken*/
		color: red;
		font-size: 2rem; /*Sätter fontstorleken till 2rem*/
		padding: 5px;
		border: 5px solid red;
		border-radius: 25px;
	}

	h1{ /*Formar min rubrik*/
		font-size: 50px;
		text-align: center;
	}
	
	h1 a:hover{ /*Berättar vad min rubrik ska göra när man hovrar på den */
		color: white;
		background-color:hsl(0, 100%, 50%);
		text-decoration: none;
		border: 5px solid red;
	    border-radius: 25px;
	}
	
	h1 a { /*Eftersom min rubrik är en länk till hem sidan så behöver den ändras*/
		color: red;
		border: 5px solid red;
	    border-radius: 25px;
		text-decoration: none;	
		color: red;	
		padding:5px;		
	}
	
	table, th, td {/*redigerar hur men tabell ser ut*/
		border: 5px solid red;
		border-collapse: collapse;
		text-align:center;
		color:#FF0000;
		font-size:25px;
	}
	
	table{ /*Hur stor plats min tabell ska ta av sectionen*/
	  width:100%;
	}
	
	th{
		height:50px; 
	}
	
	td{
		height:50px; 
		}
		
		tbody tr:nth-child(odd){ /*Färgar min tabella svart där det finns länkar*/
			background-color: black;
		}
			tfoot tr:nth-child(1){
			background-color: black;
		}
		
		#musik main a:link, aside a:visited{
		color: blue;
		text-decoration: none;
		}

		#musik main a:hover{/*färgen på länken när man pekar på den*/
		color:violet;
		}

		#musik main a:focus{/*färgen på länken när man focuserar på den*/
		color:violet;
		}
		
		#musik main a:active{/* Färgen länken har när man tryckt på den*/
		color:yellow;
		}
    
	


	



